*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'montserrat';
    color: #fff;
}
html, body{
    height: 100vh;
    /* perspective:800px; */
    width: 100%;   
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    
}
#cursor-blur{
    height: 500px;
    width: 500px;
    background-color: #96c11e6d;
    border-radius: 50%;
    position: fixed;
    filter: blur(80px);
    z-index: 9;

}
#nav{
    
    height: 145px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 150px;
    justify-content: flex-start;
    position: fixed;
    gap: 100px;
    z-index: 99;
    /* position: relative; */
    cursor: pointer;
}

#nav img{
    height: 75px;

}
#nav a{
    text-decoration: none;
    text-transform: uppercase; 
    font-weight: 400;
}


video{
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
    pointer-events: none;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.379);

}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
   
}

#page1 h1{

    font-size: 140px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "CODE. SLEEP. REPEAT.";
    position: absolute;
    color: black;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 2px yellowgreen;
    z-index: -1;
}

#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 50px;
  
}

#page1 p{
    backdrop-filter: sepia(90%) opacity(120%) blur(2px);
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
    -webkit-text-stroke: 0.3px rgb(150, 237, 19);
   
}
#page1 #arrow{
    height: 200px;
    width: 200px;
    background-color: transparent;
    border: 2px solid #95c11e;
    position: absolute;
    display: flex;
    left: -2%;
    bottom: 0%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.5s;
}
#page1 #arrow i{
    font-size: 50px;
    font-weight: 100;
}
#page1 #arrow:hover{
     scale: 0.5;
     background-color: #95c11e;
}

#page2{
   min-height: 100vh;
    width: 100%;
    z-index: 10;

}
#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display:none;
}

#scroller-in{
    display: inline-block;
    white-space: nowrap;

}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller h4{
    display: inline-block;
    font-size: 100px;
    font-weight: 800;
    font-family: gilroy;
    margin-right: 10px;
    transition: all linear 0.4s;
    color: transparent;
    -webkit-text-stroke: 2px #95c11e;
}
#scroller h4:hover{
color: #95c11e;
}




@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


#about-me{
    height: 40vh;
    width: 100%;
    display: flex;
    padding: 0 50px;
    align-items: center;
    position: relative;
    z-index: 10;
    justify-content: space-around;
}
#about-me img{
    height: 220px;
    width: 360px;
    border-radius: 20px;
    object-fit: cover;
    
}
#about-me-in{
    width: 40%;
    text-align:center;
}
#about-me-in h3{
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 30px;
}
#about-me-in p{
    font-size: 20px;
    line-height: 26px;
}
#cards-container{
    /* background-color: red; */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
   z-index: 10;

}

.card{
    height: 80%;
    width: 24%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    /* transition:all ease 0.6s ; */
}
#card1{
    background-image:url(https://images.pexels.com/photos/6942435/pexels-photo-6942435.jpeg) ;
}
#card2{
    background-image:url(https://images.pexels.com/photos/404960/pexels-photo-404960.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) ;
}
#card3{
    background-image:url(https://images.pexels.com/photos/10035858/pexels-photo-10035858.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) ;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    padding: 50px;
    padding-top: 160px;
    opacity: 0;
    transition:all ease 0.6s;
}
.overlay h4{
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: 800;
}
.overlay p{
    color: #000;
    font-size: 18px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
#green-div{
    /* background-color: red; */
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 90px;
    
    background: linear-gradient(0deg, rgba(149,193,30,1) 0%, rgba(0,0,0,1) 100%);

}
#green-div h4{
    width: 50%;
    line-height: 20px;
    color: #000;
    text-align: center;
    font-weight: 800;
    font: size 27px;
    text-transform: uppercase;

}
#green-div img{
    height: 100%;
    object-fit:cover;
    width: 30%;
    
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}


#page3>p{
    font-size: 35px;
    font-weight: 700;
    width: 55%;
    line-height: 45px;
    text-align: center;

}
#page3 img{
    position: absolute;
    height: 60px;
    
}
#page3 #colon1{
    left: 15%;
    top: 25%
}
#page3 #colon2{
    bottom: 30%;
    right: 15%;

}
#page4{
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;

}
.elem{
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;

}
.elem h2{
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    display: flex;
    color: #000;
    align-items: center;
    transition: all ease 0.5s;
    justify-content: center;
    font-size: 30px;
    position: absolute;
    z-index: 10;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
    transition: all ease 0.5s;
}
.elem:hover h2{
    color: #fff;
    background-color: transparent;

}
.elem:hover img{
    scale: 1.5;
}
#page4 h1{
   font-size: 101px;
   position: absolute; 
   top: 0;
   font: size 700px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: -7%;
    color: #000;
    -webkit-text-stroke:2px #fff;


}
#footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
    cursor: pointer;
  }
  #footer > img {
    position: absolute;
    left: 0;
    padding:50px;
    height: 100%;
    z-index: 0;
  }
  #f1 img {
    height: 100px;
  }
  #f1,
  #f2,
  #f3,
  #f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
  }
  #f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  }
  
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }
  
@media screen and (max-width: 768px) {
    #nav {
        display: none;
    }


    #main {
        padding-top: 100px;
    }

    #page1 h1 {
        font-size: 5rem;
    }

    #page1 h2 {
        font-size: 1.5rem;
    
    }

    #page1 p {
        font-size: 1rem;
        width: 80%;
        margin: auto;
    }

    #arrow {
       display: none !important;
    }

    #arrow i {
        font-size: 3rem;
    }

    #scroller {
        height: auto;
        padding: 20px;
    }

    #scroller-in {
        animation-duration: 60s;
    }

    #scroller h4 {
        font-size: 2.5rem;
    }

    #about-me {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    #about-me img {
        width: 70%;
        height: auto;
    }

    #about-me-in {
        width: 100%;
        text-align: center;
    }

    #about-me-in h3 {
        font-size: 2rem;
    }

    #about-me-in p {
        font-size: 1rem;
    }

    #cards-container {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .card {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .overlay {
        padding: 20px;
        padding-top: 80px;
    }

    .overlay h4 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .overlay p {
        font-size: 0.8rem;
    }

    #green-div {
        flex-direction: column;
        padding: 20px;

    }

    #green-div h4 {
        width: 90%;
        font-size: 1.2rem;
        margin-top: -100px;
        backdrop-filter: sepia(90%) opacity(120%) blur(10px);
        border-radius: 50px;

    }

    #green-div img {
        width: 80%;
        height: auto;
    }

    #page3 {
        padding: 10px;
    }

    #page3>p {
        font-size: 1rem;
        width: 90%;
    }

    #page3 img {
        height: 30px;
    }

    #page4 {
        padding: 10px;
    }
    #page4 h1{
        font-size: 40px;
        padding-left: 40px;
    }

    .elem {
        width: 45%;
        height: auto;
        margin-bottom: 20px;
    }

    .elem h2 {
        font-size: 1.5rem;
    }

    #footer {
        margin-bottom: -20px;
        flex-direction: column;
        padding: 10px;
    }

    #footer>img {
        height: auto;
        width: 90%;
    }

    #f1 img {
        width: 70px;
    }

    #f2 h3,
    #f3 h3 {
        margin-top: -40px;
        font-size: 1.2rem;
    }

    #f4 h4 {
        font-size: 0.7rem;
    }
}
    